@font-face {
  font-family: "twola";
  src:url("./fonts/twola.eot");
  src:url("./fonts/twola.eot?#iefix") format("embedded-opentype"),
    url("./fonts/twola.woff") format("woff"),
    url("./fonts/twola.ttf") format("truetype"),
    url("./fonts/twola.svg#twola") format("svg");
  font-weight: normal;
  font-style: normal;
}

