.root {
  position: relative;
  border-top: 1px solid #efefef;
}

.buttons {
  position: absolute;
  top: 0;
  right: 0;
}

.label {
  padding: 4px 0;
  margin-right: 123px;
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
}

.captureButton {
  composes: buttonRoundPrimary from '../../css/buttons.css';
  composes: captureIcon from '../../css/icons.css';
}
